html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    background-color: darkslateblue;
}

h1 {
    text-align: center;
    font-size: 48px;
    color: rgb(255, 142, 142)
}

h2 {
    color: white;
}

div {
    border: 3px dotted blue;
}

p {
    border: 3px solid teal;
    color:rgb(133, 211, 207);
    font-size: 20px;
}

strong {
    border: 3px double orange;
    color: palevioletred;
    font-size: 50px;
}

span {
    border: 3px double green;
    background-color: lightcyan;
    font-size: 60px;
    font-style: italic;
}

small {
    border: 3px double violet;
    padding: 10px 30px;
}

button {
    border: 3px solid yellow;
    font-size:20px;
}

i {
    border: 3px double brown;
}

b {
   background-color:solid salmon;
}